.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__img{
    width: 100%;
    height: auto;
    padding: 0;
}

.card__title{
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #BFDFBC;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 13px;
}

.card__description{
    font-family: Poppins;
    font-weight: 400;
    font-size: 17px;
    color: #DBDBDB;
}