---
import Layout from '../layouts/Layout.astro';
import Loader from '../components/loader.astro';
import Splash from '../components/splash.astro';
---

<Layout title="Kriptographic">
    <!-- main page -->
	<section id="loader-sec">
		<Loader />
	</section>
	<section id="all">
		<Splash />
	</section>
</Layout>

<style>
	#loader-sec,
	#all{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

</style>
<script>
const loaderElement = document.getElementById('loader-sec');
const everythingElse = document.getElementById('all');
if(everythingElse){
	everythingElse.style.display = 'none';
}
console.log(loaderElement)
setTimeout(() => {
	if (loaderElement && everythingElse) {
		loaderElement.style.display = 'none';
		everythingElse.style.display = 'block';
	console.log("w")
}
}, 1000);
</script>