<section class="team">
    <h1 class="team__title">
        <span>OUR</span>
        Team
    </h1>
    <section class="team__cards">
        <div class="member">
            <div>
                <img class="member__img" src="./../../../public/foto-d.png" alt="Davi">            
                <h2 class="member__title">DAVID BARON</h2>
            </div>
            <p class="member__p">What the dog Doing ? That’s how David would describe his life. Sofware developer with 3 years of experience in software development</p>
        </div>
    </section>
</section>