:host{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #070708;
}

.team{
    padding-inline: 20px;
    width: 100%;
}

.team__title{
    font-family: Medium;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top:28px;
    background-clip: text;
    background-image: linear-gradient(to right, #F8F1F8 50%, #798F83 100%);
    color: transparent;
}

.team__title > span{
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    color: #D2EBD8;
}

.team__cards{
    gap: 75px;
    justify-content: flex-start;
    margin-top: 58px;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.member > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.member__img{
    padding: 0;
    width: 255px;
    height: auto;
    filter: brightness(0.7);
}

.member__title{
    font-family: Medium;
    font-size: 32px;
    background-clip: text;
    background-image: linear-gradient(to right, #F8F1F8 50%, #798F83 100%);
    color: transparent;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: -28px;
}

.member__p{
    width: 250px;
    font-family: Poppins;
    color: white;
    text-align: center;
}