<section class="blackBackround" [ngClass]="{'show': showMenu}">
    <img class="close" src="../../../public/Vector.png" alt="" (click)="close()" >
    <div class="views">
        <h2 class="view">ABOUT US</h2>
        <h2 class="view">SERVICES</h2>
        <h2 class="view">TEAM</h2>
        <h2 class="view joinUs">JOIN US</h2>
    </div>

    <div class="socialMediaIcons">
        <img src="../../public/socialMediaIcons/linkedIn.png" alt="" class="icon linkedin">
        <img src="../../public/socialMediaIcons/discord.png" alt="" class="icon discord">
        <img src="../../public/socialMediaIcons/instagram.png" alt="" class="icon instagram">
        <img src="../../public/socialMediaIcons/twitt.png" alt="" class="icon twitter">
    </div>
</section>
