:host{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to bottom, #070708 0%, #070708 10%, #1F3332 80%, #1F3332 100%);
}

.joinUs{
}

.joinUs__mainText{
    width: 280px;
    font-size: 32px;
    font-weight: 500;
    font-family: Medium;
    color: #FFFFFF;
    text-align: start;
    margin-top:38px;
    margin-bottom:80px;
}


.joinUs__inputContainer{
    width: 280px;
    margin-bottom:25px;
}

.emailInput{
    margin-bottom: 40px;
}

.joinUs__inputName{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #B2B2B2;
    text-align: start;
    margin-bottom:20px;
}

.joinUs__input{
    width:279px;
    height:27px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
}

.line{
    width: 280px;
    height:2px;
    background-color: #FFFFFF;
}

.joinUs__termsAndConditionContainer{
    width: 279px;
    margin-bottom:80px;
    display: flex;
    flex-direction: row;
}

.joinUs__checkbox{
    width: 18px;
    height: 18px;
    border-bottom:1px solid #B2B2B2;
    background-color: #070708;
    margin-right: 11px;
}

.joinUs__termsAndCondition{
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    color: #B2B2B2;
    text-align: start;
}

.joinUs__buttons{
    background-color:#FFF;
    width: 270px;
    height:62px;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: none;
    padding-inline: 37px;
    margin-bottom: 30px;
}

.payPal{
    width:118px;
    height:37px;
    padding: 0;
}

.joinUs__withText{
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    color: #0A0C0D;
    text-align: start;
}

.joinUs__iconContainer{
    width: 279px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 55px;
}

.joinUs__warningText{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #FFF;
    text-align: center;
    margin-bottom: 88px;
}

.joinUs__socialMediaIcons{
    padding: 0;
    margin-right:25px;
}

.linkedin{
    width: 27px;
    height:26px;
}

.discord{
    width: 26px;
    height:30px;
}

.instagram{
    width: 28px;
    height:28px;
}

.twitter{
    width: 28px;
    height:22px;
}

.joinUs__copyright{
    font-size: 10px;
    font-weight: 500;
    font-family: Poppins;
    color: #FFFFFF;
    text-align: center;
}