<section class="joinUs">    
    <h2 class="joinUs__mainText">JOIN US</h2>  

    <form class="joinUs__inputContainer">
        <h2 class="joinUs__inputName">Brand or studio*</h2>
        <select class="joinUs__input" name="brandOrStudio*" id="">
            <option value="Brand">Brand</option>
            <option value="Studio">Studio</option>
        </select>
        <div class="line"></div>
    </form>

    <form class="joinUs__inputContainer">
        <h2 class="joinUs__inputName">Company Name*</h2>
        <input class="joinUs__input" type="text">
        <div class="line"></div>
    </form>

    <form class="joinUs__inputContainer">
        <h2 class="joinUs__inputName">Email*</h2>
        <input class="joinUs__input" type="text">
        <div class="line"></div>
    </form>
    
    <form class="joinUs__termsAndConditionContainer">
        <input class="joinUs__checkbox" type="checkbox" name="" id="">
        <h2 class="joinUs__termsAndCondition">Terms and Conditions</h2>
    </form>

    <button class="joinUs__buttons black">
        <div class="joinUs__columnTextButtons">
            <h2 class="joinUs__withText">Pay with</h2>
            <h2 class="joinUs__buttonMainText">PayPal</h2>
        </div>
        <img src="../../../public/paypalImg.png" class="payPal" alt="">
    </button>

    <button class="joinUs__buttons green">
        <h2 class="joinUs__buttonMainText">Submit</h2>
    </button>

    <div class="joinUs__iconContainer">
        <img class="joinUs__socialMediaIcons linkedin" src="../../../public/socialMediaIconsJoinUs/linkedIn.png" alt="">
        <img class="joinUs__socialMediaIcons discord" src="../../../public/socialMediaIconsJoinUs/discord.png" alt="">
        <img class="joinUs__socialMediaIcons instagram" src="../../../public/socialMediaIconsJoinUs/instagram.png" alt="">
        <img class="joinUs__socialMediaIcons twitter" src="../../../public/socialMediaIconsJoinUs/twitt.png" alt="">
    </div>

    <h2 class="joinUs__copyright">© 2024 Inc, INFINITE ON THE UPSIDE INC. </h2>
</section>