:host{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FEFEFE;
}

.joinUs{
}

.joinUs__mainText{
    width: 280px;
    font-size: 32px;
    font-weight: 500;
    font-family: Medium;
    color: #070708;
    text-align: start;
    margin-top:20px;
    margin-bottom:75px;
}


.joinUs__inputContainer{
    width: 280px;
    margin-bottom:32px;
}

.joinUs__inputName{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #070708;
    text-align: start;
    margin-bottom:16px;
}

.joinUs__input{
    width:279px;
    height:27px;
    border-style: none;
}

.line{
    width: 280px;
    height:2px;
    background-color: #000000;
}

.joinUs__termsAndConditionContainer{
    width: 279px;
    margin-bottom:32px;
    display: flex;
    flex-direction: row;
}

.joinUs__checkbox{
    width: 18px;
    height: 18px;
    border-bottom:1px solid #000000;
    margin-right: 11px;
}

.joinUs__termsAndCondition{
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    color: #2A2A2C;
    text-align: start;
}

.joinUs__buttons{
    background-color:#0A0B0C;
    width:280px;
    height:62px;
    border-radius: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: none;
    padding-inline: 37px;
}

.payPal{
    width:54px;
    height:42px;
    padding: 0;
}

.black{
    margin-bottom: 13px;
}

.green{
    background-color:#385A29;
    margin-bottom: 49px;
}

.joinUs__withText{
    font-size: 9px;
    font-weight: 500;
    font-family: Poppins;
    color: #D1D1D1;
    text-align: start;
}

.joinUs__buttonMainText{
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    color: #FFFFFF;
    text-align: start;
}

.joinUs__iconContainer{
    width: 279px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 160px;
}

.joinUs__socialMediaIcons{
    padding: 0;
    margin-right:29px;
}

.linkedin{
    width: 27px;
    height:26px;
}

.discord{
    width: 26px;
    height:30px;
}

.instagram{
    width: 28px;
    height:28px;
}

.twitter{
    width: 28px;
    height:22px;
}

.joinUs__copyright{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins;
    color: #0A0B0C;
    text-align: start;
}