<section class="aboutUs">
    <h3 class="aboutUs__secondTittle">WHAT WE OFER</h3>
    <h2 class="aboutUs__aboutUsTittle">ABOUT US</h2>

        <div class="midSection">
            <p class="aboutUs__text">We are changing how products can generate profit, how they are marketed, and how consumers engage with them. </p>
            <p class="aboutUs__text">The new generations of consumers have grown up with these platforms as their main source of entertainment and interaction. </p>
            <p class="aboutUs__text dott">The new generations of consumers have grown up with these platforms as their main source of entertainment and interaction. </p>
                
            <div class="aboutUs__nextSectionContainer">
                <div class="aboutUs__circleNext">
                    <img class="aboutUs__playIcon backward" src="../../../public/playIconpng.png" alt="">
                </div>
                <div class="aboutUs__dottedLine"></div>
                
                <div class="aboutUs__circleNext">
                    <img class="aboutUs__playIcon" src="../../../public/playIconpng.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgContainer">
            <img class="aboutUs__3dJacket" src="../../../public/Jacket.png" alt="">
        </div>

        <div class="lightContainer">
            <div class="light"></div>
        </div>

		<script type="module" src="../aboutUs/aboutUs.component.ts"></script>
</section>